mixin education(options) 
    .education
        .education__title
            .education__title-item.education__degree= options.degree
            .education__title-item.education__date= options.date
            .education__title-item.education__university= options.university
        .education__content
            block