include ../list-item/list-item

mixin education({ degree, date, university, info }) 
    -const optionsListItem = { 
    -    name: degree, 
    -    date: date, 
    -    subname: university,
    -    theme: 'default'
    -}
    +list-item(optionsListItem)
        p= info