include ../list-item/list-item

mixin education({ degree, date, university, info }) 
    -const optionsListItem = { 
    -    name: degree, 
    -    date: date, 
    -    subname: university,
    -    mainClass: "education",
    -    nameClass: "education__color"
    -}
    +list-item(optionsListItem)
        p= info