include ../list-item/list-item

mixin education({ degree, date, university }) 
    -const optionsListItem = { 
    -    name: degree, 
    -    date: date, 
    -    subname: university,
    -    nameClass: "education-color" 
    -}
    +list-item(optionsListItem)
        block