.education
    position relative
    padding-left 10%
    margin-top 3%

    &:before
        content "" 
        position absolute
        left 18px
        top 7px
        height 23px
        width @height
        border-radius 50%
        background-color black 

    &__title
        display flex
        flex-wrap wrap

    &__title-item
        font-size 30px
        text-transform uppercase
        margin-right 2%

    &__degree
        color mainColor

    &__date
        text-transform capitalize

        &:before
            content: "//"
            padding 7px

    &__content
        margin-top 5px