@require '../../theme/colors' 

.title
    display flex 
    align-items center 

    &__icon
    &__text
        margin-right 4%
        color main-color
        font-size 2.8rem
        font-family myriad-pro-bold 
        text-transform uppercase

    &:after
        content "" 
        height 6px 
        flex-grow 1
        background-color main-color