.title
    display flex 
    align-items center 

    &:after
        content "" 
        height 6px 
        flex-grow 1
        background-color mainColor

    &__item
        margin-right 4%
        font-family MyriadProBold
        font-size 2.8em 
        text-transform uppercase
        color mainColor