include ../title/title

mixin section({ icon, title, blockName }) 
    .section
        +title({ text: title, iconName: icon })
        -const contentElement = blockName ? `${blockName}__content` : ""
        .section__content(class = contentElement)&attributes(attributes)
            block