include ../icon/icon

mixin section({ icon, title, blockName }) 
    .section
        .section__header
            .section__icon
                +icon(icon)
            .section__title= title
            .section__line
        -const contentElement = blockName ? `${blockName}__content` : ""
        .section__content(class=contentElement)
            block