include ../title/title

mixin section({ icon, title, contentType='row' }) 
    .section
        .section__title
            +title({ text: title, iconName: icon }) 
        .section__content(class = `section__content_${contentType}`)
            block