.section

    &__content
        margin-top 3% 

        &_column
            display flex 
            align-items center
            flex-wrap wrap
            justify-content space-between
            min-width 100%
            text-align left