include ../icon/icon

mixin section(options)
    .section
        .section__header
            .section__icon
                +icon(options.icon)
            .section__title= options.title
            .section__line
        .section__content
            block