mixin circle-progress({ value=0, maxValue=12 }) 
    .circle-progress
        -for (let i = 0; i < maxValue; i++) 
            -const pointState = `circle-progress__point_${i < value ? "active" : "unactive"}` 
            span.circle-progress__point(class = pointState)