@require '../../theme/colors'

.circle-progress 
    text-align center 

    &__point
        display inline-block
        width 4.16%
        border-radius 50%
        margin 1.51% 
    
        &_active
            background-color main-color

        &_unactive
            background-color disabled-color

        &:before
            content ""
            display block
            padding-top 100%
