@require "./fonts.styl"

*
    box-sizing border-box
    padding 0
    margin 0
    list-style none

html
    font-size 16px
    font-family myriad-pro-regular
    background-color white
    color black

b
    font-family myriad-pro-bold 