@require "./fonts.styl"

*
    box-sizing border-box
    padding 0
    margin 0

html
    font-size 16px
    font-family MyriadProRegular
    background-color white
    color black

b
    font-family MyriadProBold 