@require "./constants.styl"
@require "./fonts.styl"

*
  box-sizing border-box
  padding 0
  margin 0

html
  font-size 16px
  font-family MyriadProRegular

b
  font-family MyriadProBold

@require './blocks/resume/resume'
@require './blocks/icon/icon'
@require './blocks/title/title'
@require './blocks/section/section'
@require './blocks/contact/contact'
@require './blocks/contact-list/contact-list'
@require './blocks/education/education'
@require './blocks/education-list/education-list'
@require './blocks/experience/experience'
@require './blocks/experience-list/experience-list'
@require './blocks/list-item/list-item'
@require './blocks/personal-info/personal-info'
@require './blocks/profile/profile'
@require './blocks/skill/skill'
@require './blocks/skill-list/skill-list'
@require './blocks/software/software'
@require './blocks/software-list/software-list'