-
    locals.personalInfoData = {
        name: "name here", 
        surname: "surname", 
        profession: "graphic designer"                        
    }

    locals.profileText = `Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <b>pede
            mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
            eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
            Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </b>`

    locals.contactListData = [
        { title: "adress", type: "text", value: "Main Street, City." }, 
        { title: "e-mail", type: "mailto", value: "contact@domain.com" },
        { title: "phone", type: "tel", value: "555-555-555" },
        { title: "website", type: "link", value: "http://www.yourweb.com" }
    ]

    locals.skillListData = [
        { name: "creative", value: 9 }, 
        { name: "teamwork", value: 11 },
        { name: "innovate", value: 6 },
        { name: "communication", value: 11 }
    ]

    commonInfo = `Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                  et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, pellentesque`
            

    locals.educationListData = [
        { 
            degree: "master degree", 
            date: "Feb 2011 - Jun 2014", 
            university: "university name",
            info: commonInfo
        },
        { 
            degree: "master degree", 
            date: "Feb 2011 - Jun 2014", 
            university: "university name",
            info: commonInfo
        },
        { 
            degree: "master degree", 
            date: "Feb 2011 - Jun 2014", 
            university: "university name",
            info: commonInfo
        },
        { 
            degree: "master degree", 
            date: "Feb 2011 - Jun 2014", 
            university: "university name",
            info: commonInfo
        }
    ] 

    locals.experienceListData = [
        { 
            company: "company name", 
            date: "Feb 2011 - Jun 2014", 
            job: "your job here",
            info: commonInfo 
        },
        { 
            company: "company name", 
            date: "Feb 2011 - Jun 2014", 
            job: "your job here",
            info: commonInfo 
        },
        { 
            company: "company name", 
            date: "Feb 2011 - Jun 2014", 
            job: "your job here",
            info: commonInfo 
        },
    ]

    locals.softwareListData = [
        { name: "photoshop", value: 95 }, 
        { name: "dreamweaver", value: 80 },
        { name: "illustrator", value: 50 },
        { name: "after effects", value: 85 },
        { name: "indesign", value: 55 },
        { name: "html&css3", value: 95 }
    ]