.section
    margin-top 10.4%

    &__header
        display flex 
        align-items center 
        justify-content: space-between

    &__title
        font-size 45px 
        color mainColor
        text-transform uppercase

    &__line
        height 10px 
        flex-grow 0.9
        background-color mainColor

    &__content
        margin-top 3%
