.skill
    display flex 
    flex-direction column
    justify-content center 
    align-items center

    &__name
        font-size 1.78em
        text-transform uppercase

    &__progress
        width 100%
        margin 0 auto
        margin-top 0.9%
    
        
    