.skill
    display flex 
    flex-direction column
    justify-content center 
    align-items center

    &__name
        font-size 1.78em
        text-transform uppercase

    &__value 
        width 100%
        margin 0 auto
        margin-top 0.9%
        text-align center

    &__value-item   
        display inline-block
        width 4.16%
        border-radius 50%
        margin 1.51%
        margin-bottom 0

        &:before
            content ""
            display block
            padding-top 100%

    &__value-item_active
        background-color mainColor

    &__value-item_unactive
        background-color unactiveColor

    
        
    