.software
    display flex
    flex-direction column
    width 45%
    margin-top 25px

    &__name
        font-size 30px
        text-transform uppercase
        margin-bottom 12px

    &__progress-frame 
        height 21px 
        background-color unactiveColor

    &__progress-value
        height 100%

    &:nth-child(2n+1)
      float left

    &:nth-child(2n)
      float right

    &:nth-child(-n+2)
      margin-top 1%