@require '../../colors'

.software   

    &__name
        font-size 30px
        text-transform uppercase
        margin-bottom 12px
 
 @media screen and (max-width: 516px)
    .software  
        width 100% 