include ../personal-info/personal-info
include ../profile/profile 
include ../contact-list/contact-list 
include ../skill-list/skill-list
include ../education-list/education-list
include ../experience-list/experience-list
include ../software-list/software-list

mixin resume()
    .resume
        .resume__column.resume__column_left
            .resume__item.resume__personal-info 
                +personal-info(locals.personalInfoData)
            .resume__item
                +profile()
                    p!= locals.profileText 
            .resume__item
                +contact-list(locals.contactListData)
            .resume__item
                +skill-list(locals.skillListData)
        .resume__column.resume__column_right
            .resume__item
                +education-list(locals.educationListData)
            .resume__item 
                +experience-list(locals.experienceListData)
            .resume__item
                +software-list(locals.softwareListData)