breakpoint-value = 930px

.resume
    display flex   
    padding 25px 4% 
    margin 0 auto 
    min-width 400px
    max-width 1650px

    @media screen and (max-width: breakpoint-value)
        flex-direction column
        align-items center

    &__column 

        @media screen and (max-width: breakpoint-value)
            width 100% 
            padding 0 5%

        &_left
            width 37.3%
            margin-left 0.8%

        &_right 
            width 55%
            margin-left 6% 

            @media screen and (max-width: breakpoint-value) 
                margin-left 0

    &__personal-info
        margin-bottom 15%

    &__profile
    &__contact-list
    &__skill-list 
    &__education-list
    &__experience-list
    &__software-list
        margin-bottom 7%