include ./index-data
include ../../blocks/personal-info/personal-info
include ../../blocks/profile/profile 
include ../../blocks/contact-list/contact-list 
include ../../blocks/skill-list/skill-list
include ../../blocks/education-list/education-list
include ../../blocks/experience-list/experience-list
include ../../blocks/software-list/software-list

block description
    meta(name="description", content="Учебный макет")

block keywords
    meta(name="keywords", content="resume") 

block title Resume
    
block main
    .resume
        .resume__column.resume__column_left
            .resume__personal-info 
                +personal-info(locals.personalInfoData)
            .resume__profile
                +profile()
                    p!= locals.profileText 
            .resume__contact-list
                +contact-list(locals.contactListData)
            .resume__skill-list
                +skill-list(locals.skillListData)
        .resume__column.resume__column_right
            .resume__education-list
                +education-list(locals.educationListData)
            .resume__experience-list
                +experience-list(locals.experienceListData)
            .resume__software-list
                +software-list(locals.softwareListData)