include ../section/section
include ../experience/experience

mixin experience-list(options)
    .experience-list
        +section({ title: "experience", icon: "experience" })
            ul.experience-list__items
                each option in options
                    li.experience-list__item
                        +experience(option)