include ../section/section
include ../experience/experience

mixin experience-list(options)
    .experience-list
        +section({ title: "experience", icon: "experience", blockName: "experience-list" })
            each option in options
                +experience(option)