@require '../../colors'

.contact
    display flex 
    justify-content space-between
    align-items center

    &__title
        flex-basis 28%
        font-size 1.4em
        color mainColor
        font-family MyriadProBold 
        text-transform: uppercase
        overflow hidden
        text-overflow ellipsis 

    &__value 
        flex-basis 69%
        font-size 1.4em
        overflow hidden
        text-overflow ellipsis

    a&__value
        color mainColor