mixin contact({ title, type, value, action }) 
    .contact
        span.contact__title= title 
        if type == 'text'
            span.contact__value.contact__value_text= value
        else 
            -const hrefValue = getHrefValue(type, value, action) 
            a.contact__value.contact__value_link(
                href = hrefValue,
                target = '_blank',
                rel = 'noopener noreferrer'
            )= value

-
    const getHrefValue = (type, value, action) => {
        if (type == 'link')
            return value
        else {
            const typeFragment = `${type}: `; 
            const actionFragment = action ? `?${action}` : "";
            return typeFragment + value + actionFragment;
        }
    }