.contact
    display flex 
    justify-content space-between
    align-items center
    margin-top 7%

    &__title
        flex-basis 28%
        font-size 1.4em
        color mainColor
        font-weight bold
        text-transform: uppercase

    &__value 
        flex-basis 70%
        font-size 1.4em 

    a&__value
        color mainColor