@require '../../theme/colors'

.contact
    display flex 
    justify-content space-between
    align-items center

    &__title
        flex-basis 28%
        font-size 1.4rem
        color main-color
        font-family myriad-pro-bold 
        text-transform: uppercase
        overflow hidden
        text-overflow ellipsis 

    &__value 
        flex-basis 69%
        font-size 1.4rem
        overflow hidden
        text-overflow ellipsis

        &_link
            color main-color