@require '../../colors'

double-circle(height, border-size)
    height height
    width height
    border-radius 50%
    box-shadow: 0 0 0 1pt main-color
    border border-size solid white
    background-color main-color

.icon 
    display inline-block
    double-circle(79.2px, 4px) 
    background-image url("sprites.png")
    background-repeat no-repeat 

    &_avatar
        double-circle(255px, 15px) 
        background-image none
    
    &_profile
        background-position 108% 115%

    &_contact
        background-position -6% -5%

    &_skill
        background-position 107% -15%

    &_education
        background-position 50% -15%

    &_experience
        background-position 50% 112%

    &_software
        background-position -5.5% 113%