.icon
    display inline-block
    height 79.2px
    width @height

    &__outer-frame
        height 100% 
        width @height
        border-radius 50%
        padding 4px
        border 1px solid mainColor


    &__inner-frame
        height 100%
        width @height
        border-radius 50%  
        background-color: mainColor

    &__image
        height 75%
        width @height
        background-image url("../../img/icon.png")
        background-repeat no-repeat 
    
    &__image_profile
        background-position -10% -15%

    &__image_contact
        background-position 45% 90%

    &__image_skill
        background-position -93px -48px

    &__image_education
        background-position 95% -15%

    &__image_experience
        background-position -8% 87%

    &__image_software
        background-position 43% -15%