.icon 
    height 79.2px
    width @height
    border-radius 50%
    box-shadow: 0 0 0 1pt mainColor
    border: 4px solid white
    background-color mainColor
    background-image url("sprites.png")
    background-repeat no-repeat 
    
    &_profile
        background-position 108% 115%

    &_contact
        background-position -6% -5%

    &_skill
        background-position 107% -15%

    &_education
        background-position 50% -15%

    &_experience
        background-position 50% 112%

    &_software
        background-position -5.5% 113%