.layout
    &__positioner
        min-width 450px 
        width 90%
        margin 0 auto
        background-color #e6e6e6

    &__column_left
        float left
        width 40%
        margin-right 5% 

    &__column_right
        float right
        width 55% 