doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width") 
        block description
            meta(name="description", content="Учебный макет")
        block keywords
            meta(name="keywords", content="resume") 
        title
            block title
    body
        block main