.icon
    display inline-block
    height 79.2px
    width @height

    &__outer-frame
        height 100% 
        width @height
        border-radius 50%
        padding 4px
        border 1px solid #3d6cb0


    &__inner-frame
        height 100%
        width @height
        border-radius 50% 
        border 1px solid #3d6cb0
        background-color: #3d6cb0

    &__image
        height 75%
        width @height
        background-image url("../../img/icon.png")
        background-repeat no-repeat 
    
    &__image_profile
        background-position -10% -15%

    &__image_contact
        background-position 45% 85%

    &__image_skills
        background-position 99% 96%

    &__image_education
        background-position 99% 4%

    &__image_experience
        background-position 1% 96%

    &__image_software
        background-position 50% 4%