include ../list-item/list-item

mixin experience({ company, date, job, info }) 
    -const optionsListItem = { 
    -    name: company, 
    -    date: date, 
    -    subname: job,
    -    theme: 'black'
    -}
    .experience
        +list-item(optionsListItem)
            p= info