include ../list-item/list-item

mixin experience({ company, date, job, info }) 
    -const optionsListItem = { 
    -    name: company, 
    -    date: date, 
    -    subname: job,
    -    blockName: "experience", 
    -    nameClass: "experience__company"
    -}
    +list-item(optionsListItem)
        p= info