include ../list-item/list-item

mixin experience({ company, date, job }) 
    -const optionsListItem = { 
    -    name: company, 
    -    date: date, 
    -    subname: job,
    -    nameClass: "experience-color" 
    -}
    +list-item(optionsListItem)
        block