include ../list-item/list-item

mixin experience(options) 
    -const optionsListItem = { 
    -    name: options.company, 
    -    date: options.date, 
    -    subname: options.job,
    -    nameClass: "experience-color" 
    -}
    +list-item(optionsListItem)
        block