@require '../../colors'

.list-item
    position relative
    padding-left 8% 

    &_default &__name
        color mainColor

    &_black &__name
        color black
        font-weight bold

    &:before
        content "" 
        position absolute
        top 8px
        left 10px
        height 21px
        width @height
        border-radius 50% 
        background-color black 

    &__title
        display flex
        flex-wrap wrap 
        line-height 1.3em
        font-size 1.75em
        text-transform uppercase

        & > *                        
            margin-right 2%

    &__name
        font-family MyriadProBold

    &__date
        text-transform capitalize

        &:before
            content: "//"
            padding 7px

    &__content
        margin-top 8px
        font-size 1.07em

@media screen and (max-width: 569px)
    .list-item 
        padding-left 50px