mixin list-item(options)
    .list-item(class = `list-item_${options.theme}`)
        .list-item__title
            span.list-item__name= options.name
            span.list-item__date= options.date
            span.list-item__subname= options.subname
        .list-item__content
            block