.list-item
    position relative
    margin-top 3%
    padding-left 8% 

    &:before
        content "" 
        position absolute
        top 8px
        left 10px
        height 21px
        width @height
        border-radius 50% 
        background-color black 

    &__title
        display flex
        flex-wrap wrap

    &__title-item
        font-size 30px
        text-transform uppercase
        margin-right 2%

    &__name
        font-family MyriadProBold

    &__date
        text-transform capitalize

        &:before
            content: "//"
            padding 7px

    &__content
        margin-top 5px

@media screen and (max-width: 569px)
    .list-item 
        padding-left 50px