.list-item:first-child 
    margin-top 4%

.list-item
    position relative
    margin-top 1.7%
    padding-left 8% 

    &:before
        content "" 
        position absolute
        top 8px
        left 10px
        height 21px
        width @height
        border-radius 50% 
        background-color black 

    &__title
        display flex
        flex-wrap wrap 

    &__title-item
        margin-right 2%
        line-height 1.3em
        font-size 1.75em
        text-transform uppercase

    &__name
        font-family MyriadProBold

    &__date
        text-transform capitalize

        &:before
            content: "//"
            padding 7px

    &__content
        margin-top 8px
        font-size 1.07em

@media screen and (max-width: 569px)
    .list-item 
        padding-left 50px