mixin personal-info(options)
    .personal-info
        .personal-info__avatar
            .personal-info__outer-frame
                .personal-info__inner-frame
        .personal-info__name= options.name
        .personal-info__surname= options.surname
        .personal-info__profession= options.profession