include ../icon/icon

mixin personal-info(options)
    .personal-info 
        +icon("avatar")
        span.personal-info__name= options.name
        span.personal-info__surname= options.surname
        span.personal-info__profession= options.profession