.personal-info
    display flex
    flex-direction column
    align-items center 
    margin-bottom 10.4%
    text-transform uppercase

    &__avatar
        display inline-block
        height 255px
        width @height

    &__outer-frame
        height 100% 
        width @height
        border-radius 50%
        padding 15px
        border 1px solid mainColor


    &__inner-frame
        height 100%
        width @height
        border-radius 50%  
        background-color: mainColor

    &__image
        height 75%
        width @height 

    &__name
        margin-top 20px
        font-size 3.50em

    &__surname
        line-height 20px
        font-size 3.50em
        font-weight bold

    &__profession
        margin-top 25px
        font-size 1.5em
        font-weight bold