include ../skill/skill

mixin skill-list(options)
    .skill-list
        +section({ title: "skills", icon: "skill", blockName: "skill-list" })
            each option in options
                +skill(option)