include ../section/section
include ../contact/contact

mixin contact-list(options)
    .contact-list
        +section({ title: "contact", icon: "contact"})
            each option in options
                +contact(option)(class = "contact-list__item")