include ../education/education

mixin education-list(options)
    .education-list
        +section({ title: "education", icon: "education" })
            ul.education-list__items
                each option in options
                    li.education-list__item
                        +education(option)