.software-list

    &__content
        display flex
        flex-direction row
        align-items center
        flex-wrap wrap
        justify-content space-between
        min-width 100%
        text-align left

    &__item
        margin-bottom 25px 

@media screen and (max-width: 516px)
    .software-list__content
        flex-direction column
        text-align center