include ../section/section
include ../software/software

mixin software-list(options) 
    .software-list
        +section({ title: "software", icon: "software", blockName: "software-list" })
            each option in options
                +software(option)