include ../section/section
include ../software/software

mixin software-list(options) 
    .software-list
        +section({ title: "software", icon: "software" })(class = "software-list__content")
            each option in options
                +software(option)(class = "software-list__item")