include ../section/section
include ../software/software

mixin software-list(options) 
    .software-list
        +section({ 
            title: 'software', 
            icon: 'software', 
            contentType: 'column' 
        })
            each option in options
                .software-list__item
                    +software(option)